<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--Идентификационные данные пользователя, необходимы для всех функций-->
    <!--Телефон пользователя-->
    <add key="phone" value="+79197229057" />
    <!--данные приложения и сервера, получаются на сайте https://my.telegram.org/apps -->
    <add key="apikey" value="943257" />
    <add key="apihash" value="86b8a342425dfd9802a49622ef92e0f8" />
    <add key="servertest" value="149.154.167.40" />
    <add key="servertestport" value="443" />
    <add key="servertestkey" value="![CDATA[-----BEGIN RSA PUBLIC KEY----- MIIBCgKCAQEAyMEdY1aR+sCR3ZSJrtztKTKqigvO/vBfqACJLZtS7QMgCGXJ6XIR yy7mx66W0/sOFa7/1mAZtEoIokDP3ShoqF4fVNb6XeqgQfaUHd8wJpDWHcR2OFwv plUUI1PLTktZ9uW2WE23b+ixNwJjJGwBDJPQEQFBE+vfmH0JP503wr5INS1poWg/ j25sIWeYPHYeOrFp/eXaqhISP6G+q2IeTaWTXpwZj4LzXq5YOpk4bYEQ6mvRq7D1 aHWfYmlEGepfaYR8Q0YqvvhYtMte3ITnuSJs171+GDqpdKcSwHnd6FudwGO4pcCO j4WcDuXc2CTHgH8gFTNhp/Y8/SpDOhvn9QIDAQAB -----END RSA PUBLIC KEY-----]]" />
    <add key="serverprod" value="149.154.167.50" />
    <add key="serverprodport" value="443" />
    <add key="serverprodkey" value="![CDATA[-----BEGIN RSA PUBLIC KEY----- MIIBCgKCAQEA6LszBcC1LGzyr992NzE0ieY+BSaOW622Aa9Bd4ZHLl+TuFQ4lo4g 5nKaMBwK/BIb9xUfg0Q29/2mgIR6Zr9krM7HjuIcCzFvDtr+L0GQjae9H0pRB2OO 62cECs5HKhT5DZ98K33vmWiLowc621dQuwKWSQKjWf50XYFw42h21P2KXUGyp2y/ +aEyZ+uVgLLQbRA1dEjSDZ2iGRy12Mk5gpYc397aYp438fsJoHIgJ2lgMv5h7WY9 t6N/byY9Nw9p21Og3AoXSL2q/2IJ1WRUhebgAdGVMlV1fkuOQoEzR7EdpqtQD9Cs 5+bfo3Nhmcyvk5ftB0WkJ9z6bNZ7yxrP8wIDAQAB -----END RSA PUBLIC KEY-----]]" />
    <!--Данные для функции мониторинга (заполняются информацией, полученной из функций получения списка пользователей и чатов)-->
    <!--Какие чаты отслеживать (через запятую)-->
    <add key="monitor chats" value="1640924071" />
    <!--Сообщения каких пользователей отслеживать в чатах (через запятую)-->
    <!-- S.Baranov, Sergey -->
    <add key="monitor users" value="491606271,489029828" />
    <!--В какой чат пересылать отслеженные сообщения-->
    <add key="chatToForward" value="1741789560" />
  </appSettings>
</configuration>
