<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--Идентификационные данные пользователя, необходимы для всех функций-->
    <!--Телефон пользователя-->
    <add key="phone" value="+79197229057" />
    <!--данные приложения и сервера, получаются на сайте https://my.telegram.org/apps -->
    <!--<Библиотека WTelegramClient игнорирует адрес -->
    <add key="apikey" value="943257" />
    <add key="apihash" value="86b8a342425dfd9802a49622ef92e0f8" />
    <add key="server" value="149.154.167.40" /> <!--149.154.167.40:443 - тест 149.154.167.50:443 прод-->
    <add key="serverport" value="443" />
    
    <!--Данные для функции мониторинга (заполняются информацией, полученной из функций получения списка пользователей и чатов)-->
    <!--Какие чаты отслеживать (через запятую)-->
    <add key="monitor chats" value="1640924071" />
    <!--Сообщения каких пользователей отслеживать в чатах (через запятую)-->
    <!-- S.Baranov, Sergey -->
    <add key="monitor users" value="491606271,489029828" />
    <!--В какой чат пересылать отслеженные сообщения-->
    <add key="chatToForward" value="1741789560" />

    <!--Использовать логирование WTelegramClient-->
    <add key="enableConsoleLog" value="true" />
  </appSettings>
</configuration>
