<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--Идентификационные данные пользователя, необходимы для всех функций-->
    <!--Телефон пользователя-->
    <add key="phone" value="+79197229000" />
    <!--данные приложения и сервера, получаются на сайте https://my.telegram.org/apps -->
    <!--<Библиотека WTelegramClient игнорирует адрес -->
    <add key="apikey" value="943000" />
    <add key="apihash" value="86b8a342425dfd9802a49622ef000000" />
    <add key="server" value="149.154.167.50" /> <!--149.154.167.40:443 - тест 149.154.167.50:443 прод-->
    <add key="serverport" value="443" />
    
    <!--Данные для функции мониторинга (заполняются информацией, полученной из функций получения списка пользователей и чатов)-->
    <!--Какие чаты отслеживать (через запятую)-->
    <add key="monitor chats" value="1640924071" />
    <!--Сообщения каких пользователей отслеживать в чатах (через запятую)-->
    <!-- S.Baranov, Sergey (1145017817)-->
    <add key="monitor users" value="491606271,489029828,1145017817" />
    <!--В какой чат пересылать отслеженные сообщения-->
    <add key="chatToForward" value="643883985" />
    <!--В какой чат пересылать отслеженные сообщения. Идентификатор для бота, почему то отличается на -100 в начале для канала и на "-" для группы-->
    <!-- Проверить, как видит идентификаторы бот можно пульнув ему (в чат где он есть) сообщение и запросив  https://api.telegram.org/bot1130439977:AAHAjsCQC6OF-LUd0DIVPxxA1XPhDLq9qO8/getUpdates -->
    <add key="botChatToForward" value="-643883985" />
    <add key="bot_token" value="1130439977:AAHAjsCQC6OF-LUd0DIVPxxA1XPhDLq9qO8" />

    <!--Использовать логирование WTelegramClient-->
    <add key="enableConsoleLog" value="false" />
  </appSettings>
</configuration>
